*{
    font-family: Tahoma;
}
h1{
    font-size: 20px;
    color: #5EEA76; 
  }
  
ion-button {
    --background: #5EEA76;
    --border-color: #5EEA76;
    --border-radius: 30px;
    --border-style: solid;
    --border-width: 13px;
    --box-shadow: 10px 10px;
    --color: #ffffff;
    --color-activated: #ffffff;
    --color-focused: #ffffff;
    --color-hover: #ffffff;
    --opacity: 1;
    --padding-bottom: 0px;
    --padding-end: 4px;
    --padding-start: 4px;
    --padding-top:0;
    --ripple-color: #1e1e1e;
    display: inline;
    text-transform: none;
    font-size: 17px;
}
  
.container{
    margin-top: 100px;
    text-align: center;
}
  