<ion-content [fullscreen]="false" >
  <div class="ion-padding">
    <div class="container">
      <img src="assets/Exclusion.png">
    </div>
    <h1 class="ion-text-center"> Connexion </h1>
    <ion-button> Get Started </ion-button>
  </div>
</ion-content>
