*{
  font-family: Tahoma;
}

p{
  font-size: 12px;
  color: #AAAFC2;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}

h1{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  color: #5EEA76; 
}
a{
  border-bottom: none;
  color: #5EEA76; 
}

ion-icon, ion-menu-button{
  color: mediumaquamarine;
}

ion-button {
  --background: #5EEA76;
  --border-color: #5EEA76;
  --border-radius: 30px;
  --border-style: solid;
  --border-width: 13px;
  --box-shadow: 10px 10px;
  --color: #ffffff;
  --color-activated: #ffffff;
  --color-focused: #ffffff;
  --color-hover: #ffffff;
  --opacity: 1;
  --padding-bottom: 0px;
  --padding-end: 4px;
  --padding-start: 4px;
  --padding-top:0;
  --ripple-color: #1e1e1e;
  display: inline;
  text-transform: none;
  font-size: 17px;
}

.container{
  margin-top: 110px;
}
