<ion-content [fullscreen]="false" >
  <div class="ion-padding">
    <div class="container">
      <img src="assets/Groupe21.png" alt="" class="ion-item-center">
      <h1 class="ion-text-center">Connect together! </h1>
      <p class="ion-text-center">
        Share messages, images and voice mails about your school topics with your friends and classmates 
      </p>
      <ion-button> Get Started </ion-button>
  
      <h1 class="ion-text-center">
        <a routerLink ="/connexion">
          Log in
        </a>
      </h1>
    </div>
  </div>
</ion-content>




